@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #527fc3;
  --color-background: #f7f6f4;
  --color-secondary: #5d5d5d;
  --color-heading: #2A2A2A;
  --font-primary: "Inter Tight", sans-serif;
  --font-secondary: "Instrument Serif", serif;
  --font-accent: "Satoshi", sans-serif;
}

body {
  font-family: var(--font-primary);
}

/* Background System */
.bg-main-page {
  background-image: url("/src/assets/images/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-tape-card {
  background-image: url("/src/assets/images/tape_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
